<h2>New Comment</h2>
<%= form_with(model: @comment, url: user_post_comments_path(user_id: @user.id, post_id: @post.id), local: true) do |form| %>
  <%= form.label :text, 'Content'%>
  <%= form.text_area :text %>

  <%= form.submit "Create Comment" %>
<% end %>