<h2>The list of users</h2>

<div class = 'user-content'> 

<% @users.each do |user|%>
<div class = 'user'>
<div class = "image-placeholder"></div>
<div class = 'user-block'>
  <li><h3><%= link_to user.name, user_path(user) %></h3></li>
   <p > Number of posts: <%= user.posts.count%> </p>
 </div>
</div>


<%end%>


</div>
