<h2>The list of users</h2>
<p> current user : <%= @user.email%> </p>

<div class = 'user-content'> 

<% @users.each do |user|%>
<%= render partial: 'user', locals: { user: user } %>


<%end%>


</div>
