<h2> list of all posts and comment of a user </h2>

 <div class = 'posts-content'>
     <% @posts.each do |post|%>
     <div class = 'user-post'>
    <%= render partial: 'post', locals: { post: post } %>
     <div class='comments-content'>
     <p><strong> Comments :</strong> </p>
     <% post.recent_comments.each do |comment|%>
       <%= render partial: 'comment', locals: { comment: comment } %>
     <%end%>
     </div>
   
     </div>
     <%end%>

     <button>pagination</button>
   </div>