<h2> list of all posts and comment of a user </h2>

 <div class = 'posts-content'>
     <% @posts.each do |post|%>
     <div class = 'user-post'>
    <%= render partial: 'post', locals: { post: post } %>
    <%= render partial: 'comment', locals: { post: post } %>
   
     </div>
     <%end%>

     <button>pagination</button>
   </div>